/*--------------------
TABLE OF CONTENTS
----------------------
RESETS
	UNIVERSAL
	COLOURS
	FONTS


ELEMENTS
	HEADERS
	LINKS
		GENERIC LINK
		BUTTON LINKS
	IMAGES


COMPONENTS
	CAPTION
	DEVICE VISIBILITY TOGGLERS


LAYOUT
	STRUCTURE
		STRUCTURE MEDIA QUERIES
	GRID
	FIXED LAYOUT
		FIXED LAYOUT MEDIA QUERIES
	HEADER


CONTROL CLUSTERS
	BORDER RADIUS CONTROL
	BOX SHADOW CONTROL
	GRADIENT CONTROL
--------------------*/




/*--------------------
----------------------
RESETS
----------------------
--------------------*/


/*--------------------
UNIVERSAL
--------------------*/
::-moz-selection
{
        background:rgb(48,129,188); /*blue*/
        color:rgb(255,255,255);
}

::-ms-selection
{
        background:rgb(48,129,188); /*blue*/
        color:rgb(255,255,255);
}

::-o-selection
{
        background:rgb(48,129,188); /*blue*/
        color:rgb(255,255,255);
}

::-webkit-selection
{
        background:rgb(48,129,188); /*blue*/
        color:rgb(255,255,255);
}

::selection
{
        background:rgb(48,129,188); /*blue*/
        color:rgb(255,255,255);
}

hr
{
	display:none;
}


/*--------------------
COLOURS
--------------------*/
html
{
	background:rgb(227,226,221) url('../img/interface/bg-body.png') scroll repeat-x top left;
	color:rgb(0,0,0);
}


/*--------------------
FONTS
--------------------*/
body,
input,
select,
textarea
{
	font-family:Helvetica, Arial, sans-serif;
}

#itk-wrapper
{
	/*12px*/
	font-size:1.24em;
}




/*--------------------
----------------------
ELEMENTS
----------------------
--------------------*/


/*--------------------
HEADERS
--------------------*/
h1
{
	/*18px*/
	font-size:1.4em;
	margin-bottom:0.6em; /*normalise to vertical margin control default*/
}

h2
{
	/*16px*/
	font-size:1.3em;
	margin-bottom:0.76em; /*normalise to vertical margin control default*/
}

.velti-category
{
	background-color:rgb(255,255,255);
	border:1px solid rgb(153,153,153);
	font-size:1em;
	font-weight:700;
	padding:6px 10px;
}

h1.velti-category
{
	background-color:rgb(48,129,188); /*blue*/
	color:rgb(255,255,255);
	text-transform:uppercase;
	text-shadow				:	0 1px 2px rgba(0, 0, 0, 0.7);
}


/*--------------------
LINKS
--------------------*/


/*--------------------
GENERIC LINK
--------------------*/
#itk-wrapper a
{
	color:rgb(102,102,102);
	text-decoration:none;
}

#itk-wrapper a:focus,
#itk-wrapper a:hover
{
	color:rgb(16,58,89); /*dark blue*/
	text-decoration:underline;
}


/*--------------------
BUTTON LINKS
--------------------*/
#itk-wrapper a.velti-button-skin-1 /*ie6*/
{
	background-color:rgb(48,129,188); /*blue*/
	color:rgb(255,255,255);
	padding:4px 9px;
}

#itk-wrapper a.velti-button-skin-1:active,
#itk-wrapper a.velti-button-skin-1:focus,
#itk-wrapper a.velti-button-skin-1:hover
{
	color:rgb(255,255,255);
	background-color:rgb(16,58,89); /*dark blue*/
}


/*--------------------
IMAGES
--------------------*/
img
{
	background:rgb(255,255,255) url('../img/interface/preloaders/img-preloader.gif') no-repeat scroll center center;
	color:rgb(153,153,153);
}


/*--------------------
FORMS
--------------------*/
.velti-form-skin-1 .itk-form-divide /*ie6 ie7*/
{
	border-top:2px solid rgb(153,153,153);
	padding-top:1em;
}

.velti-form-skin-1 input.itk-text,
.velti-form-skin-1 input.itk-password,
.velti-form-skin-1 textarea,
.velti-form-skin-1 select
{
	background-color:rgb(48,129,188); /*blue */
	color:rgb(255,255,255);
}

.velti-form-skin-1 input.itk-text:focus,
.velti-form-skin-1 input.itk-password:focus,
.velti-form-skin-1 textarea:focus,
.velti-form-skin-1 select:focus
{
	background-color:rgb(255,255,255);
	color:rgb(0,0,0);
}

#itk-wrapper div.itk-structure fieldset div.itk-submit input
{
	background-color:rgb(48,129,188); /*blue*/
}

#itk-wrapper div.itk-structure fieldset div.itk-submit input:focus,
#itk-wrapper div.itk-structure fieldset div.itk-submit input:hover
{
	background-color:rgb(16,58,89); /*dark blue*/
}




/*--------------------
----------------------
COMPONENTS
----------------------
--------------------*/


/*--------------------
CAPTION
--------------------*/
.velti-image-caption-1
{
	height:140px;
	width:140px;
}


/*--------------------
DEVICE VISIBILITY TOGGLERS
--------------------*/
.velti-device-visibility-toggler
{
	border:1px solid rgb(255,255,255);
	color:rgb(255,255,255);
	padding:2px;
	text-align:center;
}

p.itk-hide-on-javascript,
p.itk-hide-on-phones,
p.itk-hide-on-tablets,
p.itk-hide-on-desktops
{
	background-color:rgb(195,60,40);
}
p.itk-show-on-javascript,
p.itk-show-on-phones,
p.itk-show-on-tablets,
p.itk-show-on-desktops
{
	background-color:rgb(40,160,40);
}




/*--------------------
----------------------
LAYOUT
----------------------
--------------------*/


/*--------------------
STRUCTURE
--------------------*/
.velti-structure
{
	margin:0 auto;
	width:300px;
}

.velti-structure-inner
{
	clear:both;
	margin:0 auto;
	width:300px;
}


/*--------------------
STRUCTURE MEDIA QUERIES
--------------------*/
@media only screen and (min-width:480px)
{
	.velti-structure,
	.velti-structure-inner
	{
		width:460px;
	}
}

@media only screen and (min-width:600px)
{
	.velti-structure,
	.velti-structure-inner
	{
		width:580px;
	}
}

@media only screen and (min-width:768px) 
{
	.velti-structure,
	.velti-structure-inner
	{
		width:748px;
	}
}

@media only screen and (min-width:992px) 
{
	.velti-structure,
	.velti-structure-inner
	{
		width:972px;
	}
}

@media only screen and (min-width:1382px) 
{
	.velti-structure,
	.velti-structure-inner
	{
		width:1362px;
	}
}


/*--------------------
GRID
--------------------*/
div.velti-grid-demo
{
	background-color:rgb(48,129,188); /*blue*/
	color:rgb(255,255,255);
	border:1px solid rgb(255,255,255);
	margin:1px;



}

div.velti-grid-demo p
{
	font-weight:700;
	margin-bottom:0;
	padding:1em 0;
	text-align:center;
}


/*--------------------
FIXED LAYOUT
--------------------*/
html.positionfixed body.itk-fixed-layout div#velti-header,
html.positionfixed body.itk-fixed-layout div#velti-footer
{
	background-color:rgb(255,255,255);
}

html.positionfixed body.itk-fixed-layout div#velti-header
{
	border-bottom:1px solid rgb(153,153,153);
}

html.positionfixed body.itk-fixed-layout div#velti-content
{
	padding-bottom:75px;
	padding-top:90px;
}

html.positionfixed body.itk-fixed-layout div#velti-footer
{
	border-top:1px solid rgb(153,153,153);
	padding-top:12px;
}


/*--------------------
FIXED LAYOUT MEDIA QUERIES
--------------------*/
@media only screen and (min-width:768px) 
{
	html.positionfixed body.itk-fixed-layout div#velti-content
	{
		padding-bottom:45px;
	}
}


/*--------------------
HEADER
--------------------*/
div#velti-header
{
	background-color:rgb(255,255,255);
	border-bottom:1px solid rgb(153,153,153);
	padding-bottom:10px;
	padding-top:10px;
	width:100%;
}

div#velti-header p.itk-logo span.itk-replaced /*ie6*/
{
	background-image:url('../img/branding/VELTI_logo_screen.png');
	height:49px;
	width:168px;
}


/*--------------------
TOOLKIT NAVIGATION
--------------------*/
.velti-toolkit-navigation
{
	background-color:rgb(255,255,255);
	border:1px solid rgb(153,153,153);
	padding-left:10px;
	padding-right:10px;
	padding-top:1em;
}




/*--------------------
----------------------
CONTROL CLUSTERS
----------------------
--------------------*/


/*--------------------
BORDER RADIUS CONTROL
--------------------*/
.velti-device-visibility-toggler,
.velti-grid-demo
{
	-moz-border-radius			:	2px;
	-ms-border-radius			:	2px;
	-o-border-radius			:	2px;
	-webkit-border-radius			:	2px;
	border-radius				:	2px;
}

.velti-toolkit-navigation,
.velti-category,
#itk-wrapper a.velti-button-skin-1
{
	-moz-border-radius			:	4px;
	-ms-border-radius			:	4px;
	-o-border-radius			:	4px;
	-webkit-border-radius			:	4px;
	border-radius				:	4px;
}


/*--------------------
BOX SHADOW CONTROL
--------------------*/
.velti-toolkit-navigation,
.velti-category
{
	-moz-box-shadow				:	2px 2px 2px rgb(153,153,153);
	-ms-box-shadow				:	2px 2px 2px rgb(153,153,153);
	-o-box-shadow				:	2px 2px 2px rgb(153,153,153);
	-webkit-box-shadow			:	2px 2px 2px rgb(153,153,153);
	box-shadow				:	2px 2px 2px rgb(153,153,153);
}

#itk-wrapper a.velti-button-skin-1,
.velti-device-visibility-toggler,
.velti-grid-demo
{
	-moz-box-shadow				:	inset 0 0 10px rgba(0,0,0,0.6);
	-ms-box-shadow				:	inset 0 0 10px rgba(0,0,0,0.6);
	-o-box-shadow				:	inset 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow			:	inset 0 0 10px rgba(0,0,0,0.6);
	box-shadow				:	inset 0 0 10px rgba(0,0,0,0.6);
}


/*--------------------
GRADIENT CONTROL
--------------------*/
.velti-toolkit-navigation,
.velti-category
{
	background-image			:	-moz-linear-gradient(top, 	rgb(255,255,255) 45%, rgb(221,221,221) 95%);
	background-image			:	-ms-linear-gradient(top, 	rgb(255,255,255) 45%, rgb(221,221,221) 95%);
	background-image			:	-o-linear-gradient(top, 	rgb(255,255,255) 45%, rgb(221,221,221) 95%);
	background-image			:	-webkit-linear-gradient(top, 	rgb(255,255,255) 45%, rgb(221,221,221) 95%);
	background-image			:	linear-gradient(top, 		rgb(255,255,255) 45%, rgb(221,221,221) 95%);
}

h1.velti-category
{
	background-image			:	-moz-linear-gradient(top, 	rgb(48,129,188) 45%, rgb(16,58,89) 95%);
	background-image			:	-ms-linear-gradient(top, 	rgb(48,129,188) 45%, rgb(16,58,89) 95%);
	background-image			:	-o-linear-gradient(top, 	rgb(48,129,188) 45%, rgb(16,58,89) 95%);
	background-image			:	-webkit-linear-gradient(top, 	rgb(48,129,188) 45%, rgb(16,58,89) 95%);
	background-image			:	linear-gradient(top, 		rgb(48,129,188) 45%, rgb(16,58,89) 95%);
}