					<!--OTHER SELECTOR DEMOS-->
					
					<!--SELECTOR TYPE 1, 1x1-->
					<div class="itk-clearfix qfa-grid-col-1 qfa-grid-row-1">
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Movies</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->
						</div>
					</div>
					<!--SELECTOR TYPE 1, 1x1-->

					<!--SELECTOR TYPE 1, 1x2-->
					<div class="itk-clearfix qfa-grid-col-1 qfa-grid-row-2">
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Movies</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->
						</div>
					</div>
					<!--SELECTOR TYPE 1, 1x2-->

					<!--SELECTOR TYPE 1, 1x3-->
					<div class="itk-clearfix qfa-grid-col-1 qfa-grid-row-3">
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Movies</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->
						</div>
					</div>
					<!--SELECTOR TYPE 1, 1x3-->



					<!--SELECTOR TYPE 1, 2x2-->
					<h2>SELECTOR TYPE 1, 2 columns</h2>
					<div class="itk-clearfix qfa-grid-col-2 qfa-grid-row-1">
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Movies</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->
						</div>
					</div>
					<!--SELECTOR TYPE 1, 2x1-->

					<!--SELECTOR TYPE 1, 2x2-->
					<div class="itk-clearfix qfa-grid-col-2 qfa-grid-row-2">
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Movies</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->
						</div>
					</div>
					<!--SELECTOR TYPE 1, 2x2-->

					<!--SELECTOR TYPE 1, 2x3-->
					<div class="itk-clearfix qfa-grid-col-2 qfa-grid-row-3">
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Movies</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->
						</div>
					</div>
					<!--SELECTOR TYPE 1, 2x3-->



					<!--SELECTOR TYPE 1, 3x1-->
					<h2>SELECTOR TYPE 1, 3 columns</h2>
					<div class="itk-clearfix qfa-grid-col-3 qfa-grid-row-1">
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Movies</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->
						</div>
					</div>
					<!--SELECTOR TYPE 1, 3x1-->

					<!--SELECTOR TYPE 1, 3x2-->
					<div class="itk-clearfix qfa-grid-col-3 qfa-grid-row-2">
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Movies</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->
						</div>
					</div>
					<!--SELECTOR TYPE 1, 3x2-->

					<!--SELECTOR TYPE 1, 3x3-->
					<div class="itk-clearfix qfa-grid-col-3 qfa-grid-row-3">
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Movies</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->
						</div>
					</div>
					<!--SELECTOR TYPE 1, 3x3-->



					<!--GRID B1: 3 equal column x 2 row-->
					<h2>SELECTOR TYPE 1: 3 equal column x 2 row</h2>
					<div class="itk-clearfix qfa-grid-col-3 qfa-grid-row-2">

						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Movies</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-tv.png" />
										<h3>TV</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-music.png" />
										<h3>Music</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-radio.png" />
										<h3>Radio</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-kids_zone.png" />
										<h3>Kids Zone</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<div class="qfa-mod-selector qfa-mod-selector-type-1">
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-news.png" />
										<h3>News <span class="alert">Coming Soon</span></h3>
									</div>
								</div>
							</div>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
					</div>
					<!--GRID B1: 3 equal column x 2 row-->



					<!--GRID B1: 3 equal column x 2 row with marquee-->
					<h2>SELECTOR TYPE 1 with marquee: 3 equal column x 2 row</h2>
					<div class="itk-clearfix qfa-grid-col-3 qfa-grid-row-2">

						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-movies.png" />
										<h3>Music</h3>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-tv.png" />
										<h3>New Releases</h3>
										<p class="qfa-marquee">Delta Goodrem, Fat Boy Slim, Green Day, Game, One Direction</p>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-tv.png" />
										<h3>Pop</h3>
										<p class="qfa-marquee">Adele, Britney Spears, Coldplay, Foster the People, Gotye, Katy Perry, Lena, Maroon 5</p>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-radio.png" />
										<h3>Rock</h3>
										<p class="qfa-marquee">Linkin Park, Nirvana, The Rolling Stones, Foo Fighters</p>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-radio.png" />
										<h3>Alternative</h3>
										<p class="qfa-marquee">311, Arctic Monkeys, Badly Drawn Boy, Cake, </p>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 1, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-1" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="itk-faux-table">
									<div class="itk-faux-table-cell">
										<img alt="" src="project_media/portal_media/img/interface/icons/category-kids_zone.png" />
										<h3>Australiana</h3>
										<p class="qfa-marquee">No Fixed Address, Yothu Yindi, Christine Anu and Geoffrey Gurrumul Yunupingu</p>
									</div>
								</div>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
					</div>
					<!--GRID B1: 3 equal column x 2 row with marquee-->








					<!--GRID B3: 3 equal column x 2 row-->
					<h2>SELECTOR TYPE 2: 3 equal column x 2 row</h2>
					<div class="itk-clearfix qfa-grid-col-3 qfa-grid-row-2">

						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>Movies</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>TV</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>Music</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>Radio</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>Kids Zone</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<div class="qfa-mod-selector qfa-mod-selector-type-2">
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>News <span class="alert">Coming Soon</span></h3>
							</div>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
					</div>
					<!--GRID B3: 3 equal column x 2 row-->




					<!--GRID B3: 3 equal column x 3 row-->
					<h2>SELECTOR TYPE 2: 3 equal column x 3 row</h2>
					<div class="itk-clearfix qfa-grid-col-3 qfa-grid-row-3">

						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>Movies</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>TV</h3>
							</a>
							<!--SELECTOR TYPE 1, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>Music</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>Radio</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>Kids Zone</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<div class="qfa-mod-selector qfa-mod-selector-type-2">
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3><span class="qfa-title">News</span> <span class="qfa-caption">Coming Soon</span></h3>
							</div>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>Radio</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<a class="qfa-mod-selector qfa-mod-selector-type-2" href='#'>
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3>Kids Zone</h3>
							</a>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
						<div class="qfa-grid">

							<!--SELECTOR TYPE 2, LINK START-->
							<div class="qfa-mod-selector qfa-mod-selector-type-2">
								<div class="qfa-underlay"></div>
								<div class="qfa-overlay"></div>
								<div class="image" style="background-image:url(project_media/portal_media/img/content/movies/dark-knight-rises.jpg);"></div>
								<h3><span class="qfa-title">News</span> <span class="qfa-caption">Coming Soon</span></h3>
							</div>
							<!--SELECTOR TYPE 2, LINK END-->

						</div>
					</div>
					<!--GRID B3: 3 equal column x 3 row-->
