<html ng-app="toolApp">
<head>
	<title>The Tool</title>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style/style.css"/>
</head>
<body ng-controller="AppCtrl">
	<div class="row">
		<div class="col-md-6">
			<div class="row" style="margin-top:20px">
				<div class="col-md-10 col-md-offset-1">
					CSS: <input type="text" ng-model="cssSource">
					HTML: <input type="text" ng-model="htmlSource">
					<br>

					<button ng-click="getCss()">get Css</button>
					<button ng-click="getHtml()">get Html</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1" style="margin-top:20px">
					{{filecontent}}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-10 col-md-offset-1" style="margin-top:20px">{{taglist}}</div>
			</div>
		</div>
	</div>
</body>
</html>