.testclass{
}

.testclass:hover{
}

.testclass::first-line{
}

.testclass.testclass2{
}

.testclass .testclass2{
}

.testclass, .testclass2{
}

.testclass > .testclass2 .testclass4{
}

/*space before {*/
.testclass {
}

.testclass:hover {
}

.testclass::first-line {
}

.testclass.testclass2 {
}

.testclass .testclass2 .testclass3{
}

.testclass, .testclass2 {
}

.testclass > .testclass2 {
}

/*line break before {*/
.testclass
{}

.testclass:hover
{}

.testclass::first-line
{}

.testclass.testclass2
{}

.testclass .testclass2
{}

.testclass, .testclass2
{}

.testclass > .testclass2 .testclass5
{}
